

{% for play in  plays%}
	


<div class="img_cnt wow fadeInLeft" data-wow-duration='2.5s'>
              <img src="{{ play.slug }}" alt="">
              <div class="overlay">
                <time datetime="2016">07&nbsp;/&nbsp;&nbsp;09&nbsp;&nbsp;<span>/&nbsp;2016</span></time>
                <time datetime="2016">{{ play.date }}</time>
                <p class="ins3">
                  {{ play.cat_play}} с командой {{ play.enemy_team.name }}<span>  {{ play.home_or_guest }} </span><span> {{ play.place_game.name }}</span>
                </p>
                <a href="#" class="btn btn-default">узнать больше</a>
              </div>
            </div>

{% endfor %}            