{% extends "main.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}
{# {% load content_tags %} #}

{% block plays %}


 <section class="well well1">
        <div class="container">
          <div class="navbar-header">
            <h1 class="navbar-brand">
              <a  href="/">'Shostka'<br />
                <small class="small-lines">handball club</small>
              </a>
            </h1>
          </div>
          <h3 class="text-center line1 fw-n">
            {{ cat_play.name }}
     
          </h3>
        </div>
      </section>
    </header>

<main>    



      <section class="well well2">

       {% for play in all_plays %}



        <div class="container">

        <p class="text-info ins1">
                {{ play.date }}
                 {% for place_game in play.all_place_game %} 
                   <span> &nbsp;  {{ place_game.name }}</span>
                   {% endfor %} 
              </p>
              
          <div class="row">

         


            <div class="col-md-4 col-sm-12 col-xs-12">

            <h3 class="text-center">
              
              {% if play.is_home %}

             {% for team in play.all_team %}  
                  {{ team.name }}
                  {% endfor %}

            {% else %}

            {% for enemy_team in play.all_enemy_team %}  
                  {{ enemy_team.name }}
                  {% endfor %}

            {% endif %}
          </h3>
            </div>


            <div class="col-md-4 col-sm-12 col-xs-12">

             <h3 class="text-center">
             
            {{ play.result }}
            
               </h3>
            </div>


            <div class="col-md-4 col-sm-12 col-xs-12">
               <h3 class="text-center">
              {% if play.is_home %}

            {% for enemy_team in play.all_enemy_team %}  
                  {{ enemy_team.name }}
                  {% endfor %}

            {% else %}

            {% for team in play.all_team %}  
                  {{ team.name }}
                  {% endfor %}

            {% endif %}

     
          </h3>
         
           
            </div>

           


          </div>
        </div>

        <h3 class="text-center">
             
          </h3>
          <h3 class="text-center">
             
          </h3>
         
<h3 class="text-center">
             
          </h3>
           {% endfor %}
           <h3 class="text-center line1 fw-n">
            {{ cat_play.name }}
     
          </h3>

          <h3 class="text-center">
             
          </h3>
      </section>
      <h3 class="text-center">
             
          </h3>



{% endblock %}