{% extends "main.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}

{% block gallery %}

 <!--========================================================
                            HEADER
  =========================================================-->
    
    

      
    </header>

    <main>        

      <section class="well well6">
        <div class="container">
          <h3 class="text-center h3">
            Наши Фото
          </h3>
          <div class="row col-4_mod">

          {% for photo in photos %}

            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="thumbnail-2">
                <a class="thumb" data-fancybox-group="1" href="{{ photo.slug }}">
                  <img src="{{ photo.slug }}" alt="">
                  <span class="thumb_overlay"></span>
                </a>  
                <div class="caption">
                  <p class="text-info">
                    {{ photo.name }}<span>{{ photo.short_text|safe }}</span>
                  </p>
                </div>
              </div>
            </div>

            {% endfor %}


          </div>
        </div>        
      </section>

    </main>

    <!--========================================================
                            FOOTER
  =========================================================-->
  <footer class="foot1 parallax" style="background-image:url('/static/handball/images/handball_12.png');" data-mobile="true" data-direction="inverse">
   {% endblock %}
