{% extends "main.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{% load i18n mptt_tags %}
{% load thumbnail %}
{% load content_tags %}

{% block index %}

 
 <!--========================================================
                            HEADER
  =========================================================-->
   

      <section class="well well1">
        <div class="container">
          <div class="navbar-header">
            <h1 class="navbar-brand">
              <a  href="/">ГК 'Shostka'<br />
                <small class="small-lines">команда ветеранов</small>
              </a>
            </h1>
          </div>
          <h3 class="text-center line1 fw-n">
            мы любим <br />
            гандбол <br />
          </h3>
        </div>
      </section>
    </header>

<main>    

      <section class="well well2">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <h4 class="h4_icon wow fadeInLeft" data-wow-duration='1s'>
                расписание
              </h4>
              <p class="text-info ins1 wow fadeInLeft" data-wow-duration='2s'>
                Расписание основных игр и событий нашей команды. 
              </p>
              <ul class="marked-list">

              {% raspisanie %}
              
              </ul>  
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
              <h4 class="h4_icon icon2">
                наш клуб 
              </h4>
              <p class="text-info ins1">
                Наш Клуб был создан для Наш Клуб был создан для Наш Клуб был создан 
                для Наш Клуб был создан для Наш Клуб был создан для Наш Клуб был 
                создан для Наш Клуб был создан для 
              </p>
              <p class="ins1">
                Наш Клуб был создан для Наш Клуб был создан для Наш Клуб был создан 
                для Наш Клуб был создан для Наш Клуб был создан для Наш Клуб был 
                создан для Наш Клуб был создан для . 
              </p>
              <a href="/about/" class="btn">узнать больше</a>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
              <h4 class="h4_icon icon3 wow fadeInRight" data-wow-duration='1s'>
                тренировки
              </h4>
              <p class="text-info ins1 wow fadeInRight" data-wow-duration='2s'>
                Специально для нашей команды была разработана уникальная система тренировок 
                Специально для нашей команды была разработана уникальная система тренировок 
              </p>
              <p class="ins1">
                Специально для нашей команды была разработана уникальная система тренировок 
                Специально для нашей команды была разработана уникальная система тренировок . 
              </p>
              <a href="#" class="btn">узнать больше</a>
            </div>

          </div>
        </div>
      </section>

      <section class="well well3 text-center wow fadeIn" data-wow-duration='3s'>
        <div class="container">
          <h2 class="h2_bord">
            гандбол<br />
            <span>команда молодости</span>
            <small class="small-lines small-lines1">нашей!</small>            
          </h2>

          <p class="text-primary offs3 ins2">
            Наш Клуб был создан для Наш Клуб был создан для Наш Клуб был создан 
                для Наш Клуб был создан для Наш Клуб был создан для Наш Клуб был 
                создан для Наш Клуб был создан для .
          </p>
          <a href="#" class="btn btn-primary">узнать больше</a>
        </div>
      </section>  


      <section class="well well3 well3_ins1 text-center">
       
          <h3 class="text-center">
           совсем скоро:
          </h3>

          <div class="img_block">
            {% plays %}
            
          </div>
    
      </section> 

    </main>
    

<footer class="parallax"  style="background-image:url('/static/handball/images/handball.jpg');" data-mobile="true">

    <section class="well well4">
      <div class="container">

        <h3 class="text-center">
         Наши чемпионы:
        </h3>

        <div class="owl-carousel">

    
 {% for players in  players_all %}

            <div class="item">
          

              <div class="row">
               

               {% for player in  players %}
  
<div class="col-md-3 col-sm-6 col-xs-12">
                  
                    <div class="thumbnail">
                    <a href=" ">
                      <div class="img-thumbnail">
                        <img class="imgPlayer" src="{{ player.slug }}" alt="">
                      </div>  
                      <h5>
                        {{ player.name }}
                      </h5>
                      <p>
                        {{ player.short_text|safe }} 
                      </p>
                    </a>  
                    </div>
                  
</div>

{% endfor %}  


              </div>
             
               
            </div>
 {% endfor %} 
            
        </div>
      </div>
    </section>

  


{% endblock %}

