{% load staticfiles %}
{% load embed_video_tags %}
{% load mptt_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" href="{% static 'handball/images/favicon.png' %}"> 
    <title>Гандбол-Шостка</title>
    
<meta name="description" content="Женская гандбольная команда ветеранов г.Шостка"/>
<meta name="keywords" content="гандбол, женская, Шостка, команда"/>
<meta name="author" content="handballshostka.com.ua"/>

    <!-- Bootstrap -->
    <link href="{% static 'handball/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Links -->
        <!-- Important Owl stylesheet -->
    {# <link rel="stylesheet" href="{% static 'handball/css/owl-carousel/owl.carousel.css' %}"> #}
     
    <!-- Default Theme -->
    {# <link rel="stylesheet" href="{% static 'handball/css/owl-carousel/owl.theme.css' %}"> #}
     
    <!--  jQuery 1.7+  -->
    {# // <script src="{% static 'handball/css/jquery-1.9.1.min.js' %}"></script> #}
     
    <!-- Include js plugin -->
    {# // <script src="{% static 'handball/css/assets/owl-carousel/owl.carousel.js' %}"></script> #}
    <link rel="stylesheet" href="{% static 'handball/css/owl-carousel/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'handball/css/google-map.css' %}">



    <!--JS-->
    <script src="{% static 'handball/js/jquery.js' %}"></script>
    <script src="{% static 'handball/js/jquery-migrate-1.2.1.min.js' %}"></script>

    

    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src="{% static 'handball/js/device.min.js' %}"></script>
  </head>
  <body>
  <div class="page">
 

  <!--========================================================
                            CONTENT
  =========================================================-->


  {% block index %}{% endblock %}
  {% block about %}{% endblock %}
  {% block gallery %}{% endblock %}
  {% block events %}{% endblock %} 
  {% block contact %}{% endblock %}  


    <!--========================================================
                            FOOTER
  =========================================================-->
  
    
    <section class="well5">      
      <div class="container text-center"> 

          <div class="navbar-header">
            <h1 class="navbar-brand">
             гандбол<br />
                <small class="small-lines">
                  &#169; мы ждем вас!
                  {# <a class="policy" href="index-5.html">Privacy policy</a> #}
                  <!-- {%FOOTER_LINK} -->
                </small>             
            </h1>
          </div>

          <ul class="inline-list">                  
            <li><a href="#" class="fa fa-facebook">facebook</a></li>
            <li><a href="#" class="fa fa-google-plus">google-plus</a></li> 
            <li><a href="#" class="fa  fa-linkedin"> linkedin</a></li> 
            <li><a href="#" class="fa fa-twitter">twitter</a></li>
            <li><a href="https://new.vk.com/pharmacognosy" class="fa fa-vk">VKontakte</a></li>
                     
          </ul>
               
      </div> 
    </section>  

  </footer>
  </div>

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->         
    <script src="{% static 'handball/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'handball/js/tm-scripts.js' %}"></script>    
  <!-- </script> -->

<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7VWVN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push( {'gtm.start': new Date().getTime(),event:'gtm.js'} );var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-N7VWVN');</script> <!-- End Google Tag Manager -->
</html>
