{% load staticfiles %}
{% load embed_video_tags %}
{% load mptt_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" href="{% static 'handball/images/favicon.png' %}"> 
    <title>ГК "Shostka"</title>
    
<meta name="description" content="Женская гандбольная команда ветеранов г.Шостка"/>
<meta name="keywords" content="гандбол, женская, Шостка, команда"/>
<meta name="author" content="handballshostka.com.ua"/>

    <!-- Bootstrap -->
    <link href="{% static 'handball/css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'handball/css/grid.css' %}">
  <link rel="stylesheet" href="{% static 'handball/css/style.css' %}">

  <link rel="stylesheet" href="{% static 'handball/css/styleswitcher.css' %}"/>

  <link href='//fonts.googleapis.com/css?family=Roboto:100,400,700,900' rel='stylesheet'>
  <link href="{% static 'handball/css/font-awesome.css' %}" rel='stylesheet'>
  <!-- Add jQuery library -->

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="{% static 'handball/fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="{% static 'handball/fancybox/source/jquery.fancybox.css?v=2.1.5' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'handball/fancybox/source/jquery.fancybox.pack.js?v=2.1.5' %}"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="{% static 'handball/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'handball/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5' %}"></script>
<script type="text/javascript" src="{% static 'handball/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6' %}"></script>

<link rel="stylesheet" href="{% static 'handball/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7' %}" type="text/css" media="screen" />
<script type="text/javascript" src="{% static 'handball//fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7' %}"></script>

 
    <!-- Links -->
        <!-- Important Owl stylesheet -->
    {# <link rel="stylesheet" href="{% static 'handball/css/owl-carousel/owl.carousel.css' %}"> #}
     
    <!-- Default Theme -->
    {# <link rel="stylesheet" href="{% static 'handball/css/owl-carousel/owl.theme.css' %}"> #}
     
    <!--  jQuery 1.7+  -->
    {# // <script src="{% static 'handball/css/jquery-1.9.1.min.js' %}"></script> #}
     
    <!-- Include js plugin -->
     {# // <script src="{% static 'handball/css/assets/owl-carousel/owl.carousel.js' %}"></script> #}
    <link rel="stylesheet" href="{% static 'handball/css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'handball/css/google-map.css' %}">
    <link rel="stylesheet" href="{% static 'handball/css/rd-mailform.css' %}">



    <!--JS-->
    <script src="{% static 'handball/js/jquery.js' %}"></script>
    <script src="{% static 'handball/js/jquery-migrate-1.2.1.min.js' %}"></script>

    

    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src="{% static 'handball/js/device.min.js' %}"></script>
    <script src="{% static 'handball/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'handball/js/jquery.mobilemenu.js' %}"></script>

    <script src="{% static 'handball/js/scripts.js' %}"></script>    
    <script src="{% static 'handball/js/jquery.rd-parallax.js' %}"></script>
     {# // <script src="{% static 'handball/js/jquery.rd-navbar.js' %}"></script> #}
    <script src="{% static 'handball/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'handball/js/owl.carousel.js' %}"></script>
    <script src="{% static 'handball/js/jquery.cookie.js' %}"></script>
    {# // <script src="{% static 'handball/js/tm-scripts.js' %}"></script>     #}
  </head>
  <body>
  <div class="page">

 <!--========================================================
                            HEADER
  =========================================================-->
    <header class="head1">  
      
      <div id="stuck_container" class="stuck_container">
        <nav class="navbar navbar-default navbar-static-top ">
          <div class="container"> 

            <div class="menu-holder">  
              <ul class="navbar-nav sf-menu" data-type="navbar">

              {% if page == 1 %}
                <li class="active">
                  <a href="/">Home</a>
                </li>
                {% else %} 
                 <li>
                  <a href="/">Home</a>
                </li>
                {% endif %}
                <li class="dropdown">

                 {% if page == 2 %}
                <li class="active">
                  <a href="/about/">О нас</a>
                </li>
                {% else %} 
                 <li>
                  <a href="/about/">О нас</a>
                </li>
                {% endif %}
                 
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">История </a>
                    </li>
                    <li>
                      <a href="#">Наше предложение </a>                      
                    </li>
                    <li>
                      <a href="#">Новости</a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="#">Свежие</a>
                          </li>
                          <li>
                            <a href="#">Архив</a>
                          </li>                      
                        </ul>
                    </li>
                  </ul>
                </li>

                  {% if page == 4 %}
                <li class="active">
                  <a href="/gallery/">Галлерея</a>
                </li>
                {% else %} 
                 <li>
                  <a href="/gallery/">Галлерея</a>
                </li>
                {% endif %}
                

                   {% if page == 3 %}
                <li class="active">
                  <a href="/events/">События</a>
                </li>
                {% else %} 
                 <li>
                  <a href="/events/">События</a>
                </li>
                {% endif %}

                
                  {% if page == 5 %}
                <li class="active">
                  <a href="/contact/">Контакты</a>
                </li>
                {% else %} 
                 <li>
                  <a href="/contact/">Контакты</a>
                </li>
                {% endif %}
                
              </ul>                           
            </div>

          </div>
        </nav>
      </div>  

     
 

  <!--========================================================
                            CONTENT
  =========================================================-->


  {% block index %}{% endblock %}
  {% block about %}{% endblock %}
  {% block gallery %}{% endblock %}
  {% block events %}{% endblock %} 
  {% block contact %}{% endblock %}  
  {% block plays %}{% endblock %}
  {% block force %}{% endblock %}


    <!--========================================================
                            FOOTER
  =========================================================-->
  
    
    <section class="well5">      
      <div class="container text-center"> 

          <div class="navbar-header">
            <h1 class="navbar-brand">
             гандбол<br />
                <small class="small-lines">
                  &#169; мы ждем вас!
                  {# <a class="policy" href="index-5.html">Privacy policy</a> #}
                  <!-- {%FOOTER_LINK} -->
                </small>             
            </h1>
          </div>

          <ul class="inline-list">                  
            <li><a href="#" class="fa fa-facebook">facebook</a></li>
            <li><a href="#" class="fa fa-google-plus">google-plus</a></li> 
            <li><a href="#" class="fa  fa-linkedin"> linkedin</a></li> 
            <li><a href="#" class="fa fa-twitter">twitter</a></li>
            <li><a href="https://new.vk.com/pharmacognosy" class="fa fa-vk">VKontakte</a></li>
                     
          </ul>
               
      </div> 
    </section>  

  </footer>
  </div>

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->         
    <script src="{% static 'handball/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'handball/js/scripts.js' %}"></script>    
    <script src="{% static 'handball/js/jquery.rd-parallax.js' %}"></script>
    {# // <script src="{% static 'handball/js/jquery.rd-navbar.js' %}"></script> #}
    <script src="{% static 'handball/js/device.min.js' %}"></script>
    <script src="{% static 'handball/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'handball/js/owl.carousel.js' %}"></script>
    <script src="{% static 'handball/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'handball/js/jquery.mobilemenu.js' %}"></script>
    <script src="{% static 'handball/js/jquery-mobilemenu.min.js' %}"></script>
    
  <!-- </script> -->
<script>window.jQuery || document.write(unescape('%3Cscript src={% static 'handball/js/jquery-migrate-1.2.1.min.js' %}"%3E%3C/script%3E'))</script>


<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
</body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>
